@font-face {
	font-family: 'Myriad-Pro';
	font-weight: 400;
	src: url('./fonts/MYRIADPRO-REGULAR.OTF');
}
@font-face {
	font-family: 'Myriad-Pro';
	font-weight: 600;
	src: url('./fonts/MYRIADPRO-SEMIBOLD.OTF');
}
@font-face {
	font-family: 'Verdana';
	font-weight: 400;
	src: url('./fonts/Verdana.ttf');
}
@font-face {
	font-family: 'Verdana';
	font-weight: 700;
	src: url('./fonts/Verdana-Bold.ttf');
}
